div.wrapper-inner > div.container {
  display: flex;
  height: 100%;
  width: 100%;
}
div.wrapper-inner > header {
  position: absolute;
  left: 0;
  top: 0;
}

#logo {
  width: 58px;
}

div.wrapper-inner > div.container > div.bs-sidebar {
  background-color: #fff;
  flex: 1;
}

div.wrapper-inner > div.container > div.bs-sidebar > ul {
  width: 300px;
  margin: 84px 17px 0 auto;
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
}

div.wrapper-inner > div.container > div.bs-sidebar > ul li {
  padding-left: 14px;
}

div.wrapper-inner > div.container > div.bs-sidebar > ul > li.logout-link {
  position: absolute;
  bottom: 19px;
}

div.wrapper-inner > div.container > div.content-area {
  background-color: #ebeeec;
  flex: 2.5;
  overflow-y: auto;
  padding: 18px 24px 0 24px;
}

div.wrapper-inner > div.container > div.content-area div.row:first-of-type {
  display: flex;
  margin: 24px 0;
}

div.wrapper-inner > div.container > div.content-area div.row:first-of-type h2 {
  margin: 0;
  font-size: 3em;
  font-weight: normal;
}

div.wrapper-inner
  > div.container
  > div.content-area
  div.row:first-of-type
  > div.subtitle {
  margin: auto 0 0 auto;
}

button#logout-all-sessions {
  background: #9da9a0;
}
