@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Semibold";
  src: url("../fonts/Roboto-Medium.ttf");
}

html {
  margin: 0 auto;
  font-family: "Roboto";
  background-image: url(../img/map.PNG);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  float: center;
  text-align: center;
  margin-top: 5vh;
}

a {
  color: #26c485;
}

#kc-header {
  font-size: 0;
  height: 200px;
  width: 70%;
  max-width: 360px;
  min-width: 220px;
  background-position: 50% 25px;
  background-image: url(../img/logo-rund-weiss-rgb.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: -2px;
  background-color: white;
  background-size: 100px auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

#kc-page-title {
  color: #26c485;
  font-size: 0;
  background-color: white;
  width: 70%;
  max-width: 360px;
  min-width: 220px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 5px;
}

#kc-page-title::after {
  content: "Welcome!";
  font-family: "Roboto-Semibold";
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#kc-content {
  background-color: white;
  margin-top: 20px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 360px;
  min-width: 220px;
  width: 70%;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: left;
  margin-top: -2px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  margin-bottom: 10px;
  width: 70%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #26c485;
  margin-left: 15%;
  font-size: 18px;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  width: 70%;
  float: center;
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 0;
  font-size: 18px;
  font-family: "Roboto-Semibold";
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #26c485;
  color: white;
  text-transform: uppercase;
  margin-left: 15%;
  margin-bottom: 15px;
}

label {
  margin-left: 15%;
  font-weight: bold;
}

#kc-form-options {
  margin-left: 15%;
  margin-bottom: 10px;
  font-size: 14px;
}

#kc-form-options ~ * {
  margin-left: 15%;
  margin-bottom: 10px;
  color: #26c485;
}

#kc-form-options a {
  color: #26c485;
}

#kc-registration {
  margin-left: 15%;
  font-size: 14px;
  color: #26c485;
}

#kc-registration a {
  color: #26c485;
}

.alert {
  margin-left: 15%;
  margin-bottom: 5px;
  font-size: 13px;
}

#kc-social-providers {
  display: flex;
  justify-content: center;
}

#kc-social-providers:before {
  content: "Or sign in with: "; /* TODO: Replace with text-symbol. */
  margin: auto 0;
}

#kc-social-providers > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
}

#zocial-google {
  font-size: 0;
}

#zocial-google::after {
  font-size: initial;
}

#zocial-google::before {
  content: url("../img/google_signin_buttons/web/vector/btn_google_light_normal_ios.svg");
}

#zocial-google:hover::before,
#zocial-google:focus::before {
  content: url("../img/google_signin_buttons/web/vector/btn_google_light_focus_ios.svg");
}

#zocial-google:active::before {
  content: url("../img/google_signin_buttons/web/vector/btn_google_light_pressed_ios.svg");
}
